@use 'forward.scss';
@use 'sass:map';

.button {
	background: linear-gradient(forward.$deg, map.get(forward.$blue, light) 20%, map.get(forward.$blue, default) 70%, map.get(forward.$blue, dark) 100%);
	color: map.get(forward.$grey, xlight);
	border: none;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: color 200ms ease;
	box-shadow: map.get(forward.$shadow, default);
	@include forward.mobile{
		padding: 5px 10px;
	}
	.content {
		transition: text-shadow 200ms ease;
		text-shadow: map.get(forward.$shadow, clicked);
	}
	&:active{
		box-shadow: map.get(forward.$shadow, clicked);
	}
}