@use 'forward.scss';
@use 'sass:map';

.button {
	background: linear-gradient(45deg, map.get(forward.$blue, light) 20%, map-get(forward.$blue, default) 70%, map-get(forward.$blue, dark) 100%);
	color: forward.$background;
	border: none;
	padding: 10px 20px;
	@include forward.mobile{
		padding: 5px 10px;
	}
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-image 200ms ease;
	box-shadow: map.get(forward.$shadow, default);
	.content {
		color:forward.$background;
		transition: color 200ms ease;
	}
	&:hover{
		background: linear-gradient(45deg, map-get(forward.$blue, dark) 0%, map.get(forward.$blue, light) 70% );
		.content {
			color: map.get(forward.$blue, xdark);
		}
	}
	&:active{
		box-shadow: map.get(forward.$shadow, clicked);
	}
}