@use 'forward.scss';
@use 'sass:map';

.button {
	background: map.get(forward.$blue, xlight);
	color: map.get(forward.$grey, xlight);
	border: none;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: color 200ms ease;
	box-shadow: map.get(forward.$shadow, default);
	@include forward.mobile{
		padding: 5px 10px;
	}
	.content {
		transition: text-shadow 200ms ease;
		text-align: center;
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
	&:active{
		box-shadow: map.get(forward.$shadow, clicked);
	}
}