.container {
	overflow: hidden;
	transition: height 200ms ease, width 200ms ease, padding 200ms ease;
	position: relative;
	.content{
		position: absolute;
		right: 0;
		top: 0;
		padding:10px;
		&.left{
			right: unset;
			left: 0;
		}
	}
}