@use "forward.scss";
@use "sass:map";
.spacer, .footer{
	width: calc(100% - 15px);
	box-sizing: content-box;
}
.footer{
	z-index: 1000;
	position: fixed;
	bottom: 0;
	padding-top: 10px;
	overflow-x: hidden;
	.shadow{
		display: flex;
		justify-content: center;
		background: map.get(forward.$blue, xlight);
		padding: 10px 0;
		height: 100%;
		width: 100%;
		box-shadow: map.get(forward.$shadow, default);
	}
	h3{
		margin: 5px;
	}
	.container{
		max-width: 1024px;
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-around;
		.content{
			display: flex;
			justify-content: space-around;
			margin-bottom: 5px;
			.meet{
				flex: 1;
				display: flex;
				justify-content: center;
			}
			@include forward.mobile{
				h3{
					font-size: 1em;
				}
			}
		}
		.attributions{
			display: flex;
			font-size: .4em;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
		}
	}
}