@use 'forward.scss';
@use 'sass:map';

.button {
	background: linear-gradient(forward.$deg, map.get(forward.$blue, light) 20%, map.get(forward.$blue, default) 70%, map.get(forward.$blue, dark) 100%);
	color: map.get(forward.$grey, xlight);
	border: none;
	padding: 4px 3px 0px 3px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: 200ms ease background-image, 200ms ease color;
	box-shadow: map.get(forward.$shadow, default);
	&:hover{
		color: map.get(forward.$blue, xdark);
		background: linear-gradient(forward.$deg, map.get(forward.$blue, dark) 0%, map.get(forward.$blue, light) 70% );
	}
}