@use 'forward.scss';
$bgWiresmask: url("../../images/bgWires-mask.jpg");

.logo{
	display: flex;
	justify-content: center;
	img{
		max-width: 80%;
	}
}
.title{
	position: relative;
	width: 100%;
	.sys-vis{
		.first, .second{
			h1{
				text-align: center;
 				white-space: nowrap;
				margin: 0 0;
			}
		}
		.first{
			position: relative;
			right: 60px;
			&.show{
				h1{
					display: block;
					animation: reveallr 400ms forwards;
				}
			}
		}
		.second{
			position: relative;
			&.show{
				h1{
					display: block;
					animation: revealrl 800ms forwards;
				}
			}
		}	
		.lines{
			position: absolute;
			top: 23px;
			right: calc(50% - 0px);
			>div{
				>div {
					overflow: hidden;
				}
				&:first-child{
					>div{
						border-radius: 0 0 3px 0;
					}
				}
				&:last-child{
					>div{
						border-radius: 0 0 0 3px;
					}
				}
			}
		}
	}
	.let-us{
		margin-top: 30px;
		h5{
			text-align: center;
			margin: 0;
			color: forward.$background
		}
		h2{
			text-align: center;
		}
	}
	.meet{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.links{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 30px;
		}
	}
	.main-section{
		position: relative;
		display: flex;
		justify-content: space-between;
		>div{
			flex: 1;
		}
	}
}
.dev-img{
	flex:2;
	top: 0;
	transition: top 40ms ease;
	left: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	mask-image: $bgWiresmask;
	mask-size:cover;
	mask-mode: luminance;
	mask-repeat: repeat-x;
	>img{
		min-width: 100%;
		height: 120%;
		width: auto;
		position: absolute;
	}
}
@keyframes reveallr{
	from{
		opacity: 0;
		clip-path: inset(0 0 0 100%);
	}
	to{
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
}
@keyframes revealrl{
	0%{
		opacity: 0;
		clip-path: inset(0 100% 0 0);
	}
	66%{
		opacity: 0;
		clip-path: inset(0 100% 0 0);
	}
	
	100%{
		opacity: 1;
		clip-path: inset(0 0 0 0);
	}
}