@use 'forward.scss';

.container {
	position: absolute;
	.hide{
		transition: transform linear;
		position: relative;
		transform: scaleX(1);
		.line {
			border: 0;
			padding: 0;
			margin: 0;
			background-color: forward.$background;
		}
		&.hidden{
			transform: scaleX(0);
		}
		&.left, &.up {
			transform-origin: right;
		}
		&.right, &.down {
			transform-origin: left;
		}
		&.up, &.down {
			rotate: 90deg;
		}
	}
}
