@use "./forward.scss";
@use "sass:map";

.meet{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	span{
		height: fit-content;
	}
	@include forward.tablet{
		width: 100%;
		span{
			display: none;	
		}
	}
	.schedule{
		width: 100%;
		margin-top: 20px;
		>button{
			width: 100%;
		}
	}
	.links{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		box-sizing: border-box	;
		width: 100%;
		>div{
			display: flex;
			align-items: center;
			flex: 1;
			justify-content: center;
			a{
				display: flex;
				align-items: center;
				color:inherit;
				>div{
					height:35px;
					width: 35px;
					@include forward.mobile{
						height: 25px;
						width: 25px;
					}
				}
			}
		}
	}
	h3{
		text-align: center;
	}
}
