@use "./forward.scss";
@use "sass:map";

.meet{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	span{
		height: fit-content;
	}
	@include forward.mobile{
		width: 100%;
		span{
			display: none;	
		}
	}
	.schedule{
		width: 100%;
		margin-top: 20px;
		>button{
			width: 100%;
		}
		h2,h3,h4,h5{
			color: map.get(forward.$grey, xlight);
		}
	}
	.links{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		box-sizing: border-box	;
		width: 100%;
		>div{
			a{
				height:40px;
				width: 40px;
				@include forward.mobile{
					height: 30px;
					width: 30px;
				}
			}
			display: flex;
			align-items: center;
			flex: 1;
			justify-content: center;
		}
	}
	h3{
		text-align: center;
	}
}
