@use "./forward.scss";
@use "sass:map";

.meet{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h3{
		text-align: center;
	}
	h2{
		color: map.get(forward.$grey, xlight)
	}
	>div{
		display: flex;
		justify-content: space-around;
		margin: 20px;
	}
}
