@import '../../shared/theme.scss';
.container{
	position: relative;
	height: 1em;
	border-radius: .2em;
	background-color: $background;
	overflow: hidden;
	box-shadow: $shadow;
	.bar {
		position: absolute;
		border-radius: .2em;
		left: 0;
		top: 0;
		width: 0;
		transition: width 200ms ease;
		height: 100%;
		box-shadow: 1px 0 2px map-get($black, light);
		background-color: map-get($blue, default)
	}
}