@use "forward.scss";

.container {
	height: 120%;
	position: absolute;
	box-sizing: border-box;
	width: 400px;
	@include forward.mobile {
		width: 200px;
	}
	img {
		box-sizing: border-box;
		top: 0;
		opacity: 0;
		height: 100%;
		width: auto;
		position: absolute;
		transition: opacity 300ms ease;
		&.show {
			opacity: 1;
			animation: show forwards 300ms;
			position: relative;
			top: 0;
		}
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 100%;
	}
}