.container {
	height: 90%;
	position: relative;
	box-sizing: border-box;
	img {
		box-sizing: border-box;
		opacity: 0;
		top: 0;
		transition: opacity 400ms ease, position 0;
		height: 100%;
		width: auto;
		position: absolute;
		&.show {
			position: relative;
			top: 0;
			transition: 50ms 100ms ease opacity, position 50ms;
			opacity: 1;
		}
	}
}