@use "forward.scss";
$bgWiresmask: url("../../images/bgWires-mask.jpg");
.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation-name: fallback;
	animation-duration: 1000ms;
	&.ready{
		animation: none;
		transition: opacity 200ms ease;
		opacity: 1;
	}
}
@keyframes fallback {
	0%, 75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		.dev-img{
			transition: top 100ms ease;
		}
	}
}
.dev-img{
	flex:2;
	transition: top 0ms ease;
	top: 0;
	left: 75%;
	position: fixed;
	height: 100%;
	width: 20%;
	mask-image: $bgWiresmask;
	mask-size:cover;
	mask-mode: luminance;
	mask-repeat: repeat-x;
	z-index: -1;
	@include forward.mobile{
		left:78%;
		width: calc(22% - 15px);
	}
	>img{
		min-width: 100%;
		height: 110%;
		width: auto;
		position: absolute;
	}
}