@use "forward.scss";
@use "sass:map";
.section{
	position: relative;
	&:not(.left){
		right: 70vw;
		transition: right 300ms ease;
		&.show{
			right: 0;
		}
	}
	&.left{
		left: 100vw;
		transition: left 300ms ease;
		&.show{
			left: 0;
		}
	}

}