@use "forward.scss";
@use "sass:map";
.section{
	box-shadow: map.get(forward.$shadow, default);
	position: relative;
	width: 85%;
	display: flex;
	justify-content: center;
	margin: 20px 0 20px 25%;
	padding: 5px 20px 20px calc(15% + 20px);
	box-sizing: border-box;
	position: relative;
	background: linear-gradient(forward.$deg, map.get(forward.$blue, default) -10%, map.get(forward.$grey, xlight) 30%, map.get(forward.$grey, xlight) 80%,  map.get(forward.$blue, default) 120%);
	margin: 20px 0;
	right: 85vw;
	border-radius: 0 5px 5px 0;
	transition: right 300ms ease;
	h1, h2{
		width: 100%;	
		text-align: left;
	}
	.with-image{
		padding-right: 20%;
		display: flex;
		position: relative;
		>div:not(.image) {
			width: 85%;
			padding-right: 15%; 
			z-index: 1;
		}
		.image{
			z-index: 0;
			height: 100%;
			width: 50%;
			position: absolute;
			overflow: hidden;
			right: 0;
			mask-image: linear-gradient(to right, transparent 0% 25%, black 70% 100%);
			border-radius: 0 3px 3px 0;
			img{
				object-fit:cover;
			}
		}
	}
	&:nth-child(4n), &:nth-child(4n-1){
		text-align: right;
		.with-image{
			padding-right: unset;
			padding-left: 20%;
			>div:not(.image){
				padding-right: unset;
				padding-left: 15%;
			}
			.image{
				border-radius: 3px 0 0 3px;
				right: unset;
				left: 0;
				mask-image: linear-gradient(to left, transparent 0% 25%, black 70% 100%);
			}
		}
		h1, h2{
			text-align: right;
		}
	}
	>div{
		box-sizing: border-box;
		padding: 0px 5%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&.show{
		right: 0;
	}

}
