@use "forward.scss";
@use "sass:map";
.section{
	box-shadow: map.get(forward.$shadow, default);
	position: relative;
	width: 75%;
	display: flex;
	justify-content: center;
	background-color: map-get(forward.$blue, default);
	margin: 20px 0 20px 10%;
	padding: 5px 20px 20px calc(10% + 20px);
	box-sizing: border-box;
	position: relative;
	background-color: map-get(forward.$blue, light);
	margin: 20px 0;
	>div{
		box-sizing: border-box;
		padding: 0px 20%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include forward.tablet{
			padding: 0px 10%;
		}
		@include forward.mobile{
			padding: 0px 5%;
		}
	}
	&:after{
		content: "";
		box-sizing: border-box;
		top: 0;
		display: block;
		width: 30vw;
		height: 100%;
		background-color: map.get(forward.$blue, default);
		right: 100%;
		position: absolute;
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	right: 75vw;
	border-radius: 0 5px 5px 0;
	transition: right 300ms ease;
	&.show{
		right: 0;
	}
}
