@use "forward.scss";
@use "sass:map";

.socials{
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	a{
		display: inline-block;
		height: 40px;
		width: 40px;
		@include forward.mobile{
			height:30px;
			width: 30px;
		}
	}
}