@use "sass:map";

$black: ("xlight": #444, "light": #333, "default": #222, "dark": #111, "xdark": #000);
$blue: ("xlight": #7ab2ff, "light": #4190ff, "default": #2a78e5, "dark": #205aac, "xdark": #09387a);
$green: ("xlight": #c1ffcc, "light": #6FF1A8, "default": #1DD1A1, "dark": #0f9d8f, "xdark": #0a6a5f);
$red: ("xlight": #ffccc1, "light": #f1a86f, "default": #d11d1d, "dark": #9d0f0f, "xdark": #6a0a0a);
$yellow: ("xlight": #fff6c1, "light": #f1e16f, "default": #d1c11d, "dark": #9d8f0f, "xdark": #6a5f0a);
$grey: (xlight: #FCFCFC, light: #D1C1C1, default: #A19191, dark: #918181, xdark: #716161);
$gradient: linear-gradient(260deg, map.get($grey, xlight), map.get($blue, light));
$deg: 40deg;
@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1025px) {
		@content;
	}
}
@mixin hover {
	&:hover {
		@content;
	}
}
@mixin underline ($color: map.get($grey, xlight)) {
	margin-bottom: 0;
	position: relative;
	&:before {
		content: "";
		box-shadow: map.get($shadow, clicked);
		position: absolute;
		top: 100%;
		background-color: $color;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 2px;
		transition: width 200ms ease;
	}
	&:hover {
		&:before {
			width: 70%;
		}
	}
}

$shadow: ("default": 2px 2px 5px map.get($black, light ), "clicked": 1px 1px 2px map.get($black, light));
