@use "sass:map";

$black: ("xlight": #444, "light": #333, "default": #222, "dark": #111, "xdark": #000);
$blue: ("xlight": #c1ecff, "light": #6FCAF1, "default": #156DDD, "dark": #1360c5, "xdark": #0a3c81);
$green: ("xlight": #c1ffcc, "light": #6FF1A8, "default": #1DD1A1, "dark": #0f9d8f, "xdark": #0a6a5f);
$red: ("xlight": #ffccc1, "light": #f1a86f, "default": #d11d1d, "dark": #9d0f0f, "xdark": #6a0a0a);
$yellow: ("xlight": #fff6c1, "light": #f1e16f, "default": #d1c11d, "dark": #9d8f0f, "xdark": #6a5f0a);
$background: #F3EBED;
@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: 769px) and (max-width: 1024px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1025px) {
		@content;
	}
}
@mixin hover {
	&:hover {
		@content;
	}
}
@mixin underline ($color: $background) {
	margin-bottom: 0;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 100%;
		background-color: $color;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 2px;
		transition: width 200ms ease;
	}
	&:hover {
		&:before {
			width: 70%;
		}
	}
}

$shadow: ("default": 2px 2px 5px map.get($black, light ), "clicked": 1px 1px 2px map.get($black, light));
