body {
  background-color: rgb(0,0,0);
}

html {
  overflow: hidden;
}


.App {
  transition: opacity 0.2s ease;
}

.App-header {
  display:flex;
  background-color: #222;
  color: white;
  background: rgba(10,61,160,.9); 
}

.App-header.top{
  flex-direction: row; 
  height:50px;
}

.App-header.side{
  flex-direction: column;
  width:135px;
  background: rgba(10,61,160,.9); 
}

.leftImg{
  float: left;
}

.App-logo {
  float: left;
  left: 10px;
  align-self: flex-start; 
}

.App-logo.top {
  padding-top: 5px;
  padding-left: 10px;
  height: 40px;
  top:0;
}

.App-logo.side {
  padding-top: 10px;
  width: 90%;
  align-self: center;
}

.App-intro {
  font-size: large;
}

.dropButton.sub {
  text-decoration: none;
  color: #fff; 
  font-style: italic;
}

.dropButton.main {
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.dropButton.main.side {
  float:right;
  padding-right:5px;
  text-align:right;
  font-size: 15px;
}

.dropButton.main.top {
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.dim {
  opacity: .1;
  z-index: -1000;
  pointer-events: none;
}

.dropButton {
  color:#fff;
  text-shadow: 1px 1px 5px black;
  font-family: "Trebuchet MS";
  opacity: .7;
  transition: all 0.2s ease;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom :5px;
  margin: 5px;
  width: 110px;
  text-shadow: 1px 1px 5px black;
}

.inactive {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.dropButton:hover {
  opacity:1;
  text-shadow: 0px 0px 5px white;
  transition: all 0.2s ease;
}

.bgDiv {
  background-color: black;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: opacity 0.2s ease;
  height: 100%;
  z-index: 1;
}

#bgImage {
  z-index: -1001;
  position: fixed;
  width: 100%;
  right: 0;
}

.App.top {
  display: flex; 
  flex-direction:column;
}

.App.side {
  display: flex; 
  flex-direction: row;
}

.mainSection {
  padding: 20px;
  color: white;
  font-family: Bookman;
  font-size: 18px;
  position: relative;
  transition: opacity 0.2s ease;
  position:relative;
  z-index: -1000;
}

.wideImg {
  width: 100%;
}

.smImg {
  width: 50%;
}

.headerContainer {
  position:fixed;
}

.listEntry {
  white-space: nowrap;
}

.menusDiv.side > div > div > div{
  margin-top: 35px;
}

.headerContainer.xSmall.open {
  transition: left 0.3s ease;
  left:0px;
}

.headerContainer.xSmall.div {
  position:relative;
}

.headerContainer.xSmall:not(.open){
  transition: left 0.3s ease;
  left: -135px;
  right: 0;
}

.mainSection.top {
  margin-left: 75px;
  margin-top: 55px;
}

.mainSection.side {
  margin-top:50px;
  margin-left: 150px;
  font-size: 15px;
}

.mainSection.xSmall {
  margin-top: 50px;
  margin-left: 50px;
}

.menusDiv.top {
  padding-left: 100px;
  flex-direction:row;
  flex: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.menusDiv.side {
  justify-content: flex-start;
  padding-top: 20px;
  flex-direction: column; 
}

.menusDiv.side > div {
  padding-top: 25px;
}

.bottomBar {
  padding: 20px;
  background-color: rgba(100, 125, 200, .8);
  position: fixed;
  bottom:0;
  z-index: 1;
}

.dropButton.main.side {
  font-size: 15px;
  letter-spacing: 1px;
}
.openButton {
  position: fixed;
  left:135px;
  transition: all .3s ease;
  top: 180px;
  opacity:0;
  pointer-events: none;
}
.openButton:not(.open){
  pointer-events: auto;
  left:0px;
  opacity: 1;
}
#popSideButton {
  height:150px;
}
.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease;
  transition-delay: 200ms;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
  transition-delay: 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}
.auth{
  right: 0;
  position: fixed;
  z-index: 10001;
  font-size: 20px;
  color: white;
  background-color: rgba(50, 50, 50, .2);
}