body {
  font-family: "Trebuchet MS";
  text-shadow: 1px 1px 3px white;
}

::-webkit-scrollbar{
  display: none;
}

.App {
  transition: opacity 0.2s ease;
}

.App-header {
  display:flex;
  background-color: #222;
  color: white;
  background: rgba(20, 130, 160, .9); 
}

.App-header.top{
  flex-direction: row; 
  height:60px;
}

.App-header.side{
  flex-direction: column;
  width:135px;
  background: linear-gradient(rgba(20, 130, 160,.9), rgba(20, 130, 160,.8), rgba(20, 130, 160,.7), rgba(20, 130, 160,0));
}

.leftImg{
  float: left;
}

.App-logo {
  float: left;
  left: 10px;
  align-self: flex-start; 
}

.App-logo.top {
  padding-top: 5px;
  padding-left: 10px;
  height: 40px;
  top:0;
}

.App-logo.side {
  padding-top: 10px;
  width: 90%;
  align-self: center;
}

.App-intro {
  font-size: large;
}

.dropButton.sub {
  text-decoration: none;
  color: #fff; 
}

.dropButton.main {
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.dropButton.main.side {
  float:right;
  padding-right:5px;
  text-align:right;
  font-size: 15px;
}

.dropButton.main.top {
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.dim {
  opacity: .1;
  z-index: -1000;
  pointer-events: none;
}

.dropButton {
  color:#fff;
  text-shadow: 1px 1px 5px black;
  opacity: .7;
  transition: all 0.2s ease;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom :5px;
  margin: 5px;
  width: 110px;
}

.inactive {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.dropButton:hover {
  opacity:1;
  text-shadow: 0px 0px 5px white;
  transition: all 0.2s ease;
}

.bgDiv {
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: opacity 0.2s ease;
  height: 100%;
  z-index: 0;
}

#bgImage {
  z-index: -1001;
  position: fixed;
  width: 102%;
  left: 0px;
  right: 0;
}

.App.top {
  display: flex; 
  flex-direction:column;
}

.App.side {
  display: flex; 
  flex-direction: row;
}

.mainSection {
  padding: 18px;
  font-family: Bookman;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  transition: opacity 0.2s ease;
  position:relative;
  z-index: 1;
  opacity: 1;

}

.wideImg {
  width: 100%;
}

.smImg {
  width: 50%;
}

.headerContainer {
  position:fixed;
}

.listEntry {
  white-space: nowrap;
}

.menusDiv.side > div > div > div{
  margin-top: 35px;
}

.headerContainer.xSmall.open {
  transition: top 0.3s ease;
  transition-delay: 200ms;
  top: 0px;
}

.headerContainer.xSmall.div {
  position:relative;
}

.headerContainer.xSmall:not(.open){
  transition: top 0.5s ease;
  top: -100%;
}

.mainSection.top {
  margin-left: 75px;
  margin-top: 55px;
}

.mainSection.side {
  margin-top:50px;
  margin-left: 150px;
  font-size: 15px;
}

.mainSection.xSmall {
  margin-top: 50px;
  margin-left: 50px;
}

.menusDiv.top {
  padding-left: 100px;
  flex-direction:row;
  flex: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.menusDiv.side {
  justify-content: flex-start;
  padding-top: 20px;
  flex-direction: column; 
}

.menusDiv.side > div {
  padding-top: 25px;
}

.bottomBar {
  background: rgba(20, 130, 160, .9);
  position: fixed;
  width: 100%;
  height: 40px;
  display: flex;
  padding: 20px 10px 20px 10px;
  align-content: center;
  justify-content: center;
  bottom:0;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.dropButton.main.side {
  font-size: 15px;
  letter-spacing: 1px;
}
.openButton {
  position: fixed;
  left:0px;
  top: 0px;
  transition: opacity .2s ease;
  bottom: 0;
  opacity:0;
  pointer-events: none;
}
.openButton:not(.open){
  transition-delay: 250ms;
  bottom: auto;
  pointer-events: auto;
  opacity: 1;
}
#popSideButton {
  width:150px;
}
.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 200ms;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease;
  transition-delay: 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms ease;
}
.auth{
  right: 0;
  position: fixed;
  font-size: 14px;
  color: white;
  background-color: rgb(5, 120, 160);
  padding: 3px;
  margin: 5px;
  box-shadow: -15px 0 15px -15px #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  opacity: .9;
  white-space: nowrap;
  transition: all 200ms ease;
  z-index: 2
}
.auth .open {
  border-radius: 5px 5px 0px 5px;
}
.auth > button {
  border-radius: 5px;
  background-color: rgb(5, 120, 160);
  border: none;
  color: white;
  font-size: 14px;
}
.auth > input {
  font-size: 12px;
}
.auth.closed {
  cursor: pointer;
}
.auth.loggedIn {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.auth.loggedIn>span {
  padding-left: 5px;
  padding-right: 5px;
}
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10002;
  background-color: rgba(0,0,0,.5);
  opacity: .9;
  height: 100%;
  width: 100%;
}
.modalWindow {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  width: 20%; 
}
#authMenu > div >div {
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(5, 120, 160);
  margin-top: 5px;
  margin-right: -5px;
  padding: 0px 5px 5px 5px;
}
.authButton {
  text-align: right;
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease;
}
.authButton:hover {
  opacity:1;
  cursor: pointer;
  text-shadow: 0px 0px 5px white;
  transition: all 0.2s ease;
}
.auth.menuOpen {
  border-radius: 5px 5px 0px 5px;
}

.menusDiv.top div {
  border-right: solid 2px rgba(255,255,255,.5);
  padding-right: 10px;
  padding-left: 10px;
}

.menusDiv.top div:last-child {
  border-right: none;
}

.menusDiv.side div a {
  border-bottom: solid 2px rgba(255,255,255,.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.menusDiv.side div:last-child a{
  border-bottom: none;
}

.auth:not.xSmall {
  text-align: right;
}

.auth.xSmall {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#authMenu.xSmall > div {
  right: 0px;
}

.loadingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.profileItem {
  display: flex;
  flex-direction: row;
}

.profileItem .provided {
  min-width: 150px;
  margin-right: 20px;
}
